<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangmyng.democenter">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- Bugly -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.wangmyng.common.CenterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_reindeer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_reindeer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".samples.customs.VerticalLayoutActivity"
            android:banner="@mipmap/lives_boy_children_couple"
            android:icon="@mipmap/icon_fat_bird" />
        <activity
            android:name=".samples.timer.TimerActivity"
            android:banner="@mipmap/lives_activity_beautiful_camera"
            android:icon="@mipmap/icon_fat_bird" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".biometric.BiometricActivity"
            android:banner="@mipmap/lives_affection_blur_couple"
            android:icon="@mipmap/icon_fox"
            android:label="@string/fingerprint_recognize"
            android:launchMode="singleTop" />
        <activity
            android:name=".webview.WebViewActivity"
            android:banner="@mipmap/lives_adults_city"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/icon_flamingo"
            android:label="@string/title_activity_web_view"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>